<!DOCTYPE html>
<html>
    <head>
        <title>Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="js/store.js" async></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <!-- <li><a href="/doctor">Doctor's Schedule</a></li>
                    <li><a href="" class="active">STORE</a></li> -->
                    <li><a href="logout">LOGOUT</a></li>
                    
                    <!-- <div class="wrap">
                        <div class="search">
                           <input type="text" class="searchTerm" placeholder="Search for Medicines ...">
                           <button type="submit" class="searchButton">
                             <i class="fa fa-search"></i>
                          </button>
                        </div>
                     </div> -->
        

                </ul>
            </nav>
            <h1 class="band-name band-name-large">Medicine Point</h1>

            
        </header>
        <section class="container admin-content">
            <div>
                <h1 class="section-header">Admin Panel</h1>
            </div>
            <div>
                <h1><a href="/admin/products">Products</a></h1>
            </div>
            <div>
                <h1><a href="/admin/userlist">Customers</a></h1>
            </div>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">Medicine Point</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>