
<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500"> -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Login Form</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
        <header class="main-header">
                <nav class="main-nav nav">
                    <ul>
                        <li><a href="/doctor">Doctor's Schedule</a></li>
                        <li><a href="/">STORE</a></li>
                        <li><a href="" class="active">LOGIN</a></li>

                        
                    </ul>
                </nav>
                <h1 class="band-name band-name-large">Medicine Point</h1>
            </header>

    <div class="full-screen-container">
        <div class="login-container">
            <!-- <h2 class="register-title">New Customer</h2>
            <a href="/registration"><input type="button" class="btn btn-primary" value="Register"></a> 
            <hr>
            <br>
            <br> -->
            <h3 class="login-title">ADMIN LOGIN</h3>
            <form>
                <div class="input-group">
                    <label>Username</label>
                    <input type="text" name="uname" required>
                </div>
                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="uname" required>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
        </div>
    </div>
</body>

</html>