<!DOCTYPE html>
<html>
    <head>
        <title>The Generics</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="" class="active">Doctor's Schedule</a></li>
                    <li><a href="/">STORE</a></li>
                    <li><a href="/login">LOGIN/ REGISTER</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">Medicine Point</h1>
        </header>
        <section class="content-section container">
            <h2 class="section-header">Find Your Doctor</h2> 
            <div>
                <div class="tour-row">
                    <span class="tour-item tour-date">APR 16</span>
                    <span class="tour-item tour-city"><strong>Dr. Nazmur Rahman Sajib (MBBS, CCD)</strong></span>
                    <span class="tour-item tour-arena"><strong>Medical Officer, Dhanmondi Hospital Private Ltd.</strong></span>
                    <button type="button" class="tour-item tour-btn btn btn-primary">View Profile</button>
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">APR 19</span>
                    <span class="tour-item tour-city"><strong>Dr. Faisal Ahmed Khan (MBBS, CCD)</strong></span>
                    <span class="tour-item tour-arena"><strong>Assistant Professor, Dept. of Medicine, Sikder Women’s Medical College & Hospital</strong></span>
                    <button type="button" class="tour-item tour-btn btn btn-primary">View Profile</button>
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">APR 22</span>
                    <span class="tour-item tour-city"><strong>Dr. Abu Sufiyan Rahman (MBBS)</strong></span>
                    <span class="tour-item tour-arena"><strong>Assistant Professor, Dept. of Medicine, Bangabandhu Sheikh Mujib Medical University.</strong></span>
                    <button type="button" class="tour-item tour-btn btn btn-primary">View Profile</button>
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">APR 25</span>
                    <span class="tour-item tour-city"><strong>Dr. Md. Monwarul Alam (MBBS, FCPS)</strong></span>
                    <span class="tour-item tour-arena"><strong>Assistant Professor, Dept. Of Medicine , Dhaka Central International Medical College & Hospital</strong></span>
                    <button type="button" class="tour-item tour-btn btn btn-primary">View Profile</button>
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">APR 29</span>
                    <span class="tour-item tour-city"><strong>Dr. Md. Asifudozza Asif (MBBS)</strong></span>
                    <span class="tour-item tour-arena"><strong>Consultant, Dhaka Medical College & Hospital</strong></span>
                    <button type="button" class="tour-item tour-btn btn btn-primary">View Profile</button>
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">APR 30</span>
                    <span class="tour-item tour-city"><strong>Dr. Nikhat Shahla Afsar (MBBS)</strong></span>
                    <span class="tour-item tour-arena"><strong>Consultant, Dept. of Internal Medicine, Apollo Hospitals Dhaka</strong></span>
                    <button type="button" class="tour-item tour-btn btn btn-primary">View Profile</button>
                </div>
            </div>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">Medicine Point</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>